table {
    background: pink;
    border: 1px solid #ffffff;
    border-spacing: 2px;
    border-collapse: separate;
    margin: 20px auto;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ffffff;
}

span {
    display: none;
}

.container {
    background: #f7f7f7;
    margin: 50px auto;
}

.header {
    text-align: center;
}

.info {
    text-align: center;
    margin: 0 auto;
}

#game_status {
    text-align: center;
    margin: 10px auto;
}
